.main {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 850px;
  height: 1100px;
  background-color: white;
}

.header {
  display: flex;
  background-color: #ffc107;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.personal_info {
  display: flex;
  align-items: center;
  width: 80%;
}

.info_col {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  margin: 1rem 0;
}

.info_col ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.info_col ul li {
  background-color: white;
  width: 95%;
  padding: 2px;
  margin: 2.5px 0
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph {
  height: 450px;
  width: 550px;
}

.score {
  position: absolute;
  top: 14%;
  left: 45%;
  text-align: center;
}

.score__number {
  line-height: 100pt;
  font-size: 10em;
  font-weight: 300;
}

.description {
  font-size: 0.7em;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  width: 50%;
}

.scores {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.scores__cell-7w {
  width: 70%;
}

.middle {
  text-align: center;
}

.border {
  border: 1px solid black;
  padding: 0.1rem;
}

.highlight {
  background-color: #ffc107;
}

.button-pdf {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: #fff;
  box-shadow: none;
  border: none;
  border-radius: 52px;
  padding: 0;
}

.button-pdf:hover, .button-pdf:focus {
  box-shadow: none;
  outline: none;
}

.icon__dowload-pdf:hover {
  fill: #ecb306;
}